
.CheckinSearchResults-root tbody tr {
    cursor: pointer;
}

.CheckinSearchResults-noResults {
    text-align: center;
}

.CheckinSearchResults-button {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

.CheckinSearchResults-removeColumn {
    text-align: right;
}
