.RegistrationSearchResults-root tbody tr {
    cursor: pointer;
}

.RegistrationSearchResults-root td a {
    color: inherit;
    text-decoration: none;
    display: block;
    margin: calc(-1 * var(--table-vertical-spacing)) calc(-1 * var(--table-horizontal-spacing, var(--mantine-spacing-xs)));
    padding: var(--table-vertical-spacing) var(--table-horizontal-spacing, var(--mantine-spacing-xs));
}

.RegistrationSearchResults-root tfoot tr td {
    text-align: center;
}

.RegistrationSearchResults-root tfoot tr td .mantine-Loader-root {
    margin: auto;
}
