:global .Registration-root {
    display: grid;
    column-gap: var(--mantine-spacing-sm);
    grid-template-columns:
        [name-start] auto [name-end value-start] minmax(1rem, 1fr) [value-end];
}

@media (max-width: 36rem) {
    :global .Registration-root {
        grid-template-columns:
            [name-start value-start] minmax(1rem, 1fr) [name-end value-end];
    }
}

:global .Registration-name {
    grid-column: name-start / value-end;
}

:global .Registration-rowName {
    grid-column: name;
    font-weight: bold;
}

:global .Registration-rowValue {
    grid-column: value;
}
