html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

html, body {
  max-width: 800px;
  margin: auto;
}

body {
  margin-top: 16px;
  margin-bottom: 16px;
}


.receipt-table {
  display: grid;
  grid-template-columns: [name-start code-start] auto [code-end item-name-start item-description-start] 1fr [item-name-end item-description-end item-amount-start] auto [item-amount-end name-end];
  column-gap: 8px;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 48em) {
  .receipt-table {
    grid-template-columns: [name-start code-start] auto [item-name-start item-description-start] 1fr [item-name-end item-description-end item-amount-start] auto [item-amount-end name-end code-end];
  }
}

.receipt-header,
.receipt-header-row,
.receipt-registration-body,
.receipt-registration-row,
.receipt-line-item-row,
.receipt-modifier-row,
.receipt-footer,
.receipt-footer-row {
  display: contents;
}

.receipt-title {
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: name;
  text-align: left;
}

.receipt-id {
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: normal;
}

.receipt-date {
  grid-column: name;
  font-weight: normal;
  text-align: left;
}

.receipt-registration-name {
  grid-column: name;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.receipt-registration-code {
  grid-column: code;
  grid-row: span 10;
  justify-self: center;
}

.receipt-code {
  width: 150px;
  height: 150px;
}


.receipt-code-loading {
  visibility: hidden;
}

.receipt-line-item-name {
  grid-column: item-name;
  font-weight: bold;
  text-align: right;
}

.receipt-line-item-amount {
  grid-column: item-amount;
  font-weight: bold;
  text-align: right;
}

.receipt-line-item-description {
  grid-column: item-description;
  text-align: right;
  font-size: 0.75rem;
}

.receipt-line-item-description-spacer {
  grid-column: item-amount;
}

.receipt-line-modifier-name {
  grid-column: item-name;
  text-align: right;
  font-size: 0.75rem;
}

.receipt-line-modifier-amount {
  grid-column: item-amount;
  text-align: right;
  font-size: 0.75rem;
}

.receipt-divider {
  border-bottom: #ccc solid 1px;
  grid-column: name;
  height: 0;
  margin-top: 8;
  margin-bottom: 8;
}

.receipt-total-name {
  grid-column: item-name;
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 8px;
}

.receipt-total-amount {
  grid-column: item-amount;
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 8px;
}
