.InterviewContent-root {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 250px;
    position: relative;
}

.InterviewContent-root > *:nth-child(2) {
    flex: auto;
}
